<launch>
    <param name="~frame_id" type="string" value="odom" />
    <include file="$(find turtlebot_online_path_planning)/launch/turtlebot3_home_sim.launch" />
    <node pkg="turtlebot_online_path_planning" type="laser_scan_to_point_cloud.py" name="laserscan_to_pointcloud"/>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap" output="screen">
        <remap to="/laserscan_to_pointcloud/converted_pc" from="/cloud_in"/>
    </node>
</launch>
